In [7]:
# 種々のdatasetをintagrateします
# こちらはデータ配分の確認用です｡
# 本番ではintegrate_dataset.pyを実行します｡

%load_ext autoreload
%autoreload 2

{'0': 28978753, '2': 30647941, '4': 38848145, '1': 83803791, '3': 58955928}
The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [8]:
from loaders.loaders import *
from loaders.RecordDistributor import RecordDistributor

In [9]:
from dataset_dict import dataset_dict
distributor=RecordDistributor(dataset_dict)
distributor.percent_df

Source,en,ja0,ja1,ja2,ja3,ja4,pmc
Stage,,,,,,,
Stage 1,0.426108,12.258670,26.448422,9.670364,18.605470,9.143507,23.447460
Stage 2,0.848608,12.206655,26.336199,9.629332,18.526526,9.104710,23.347970
Stage 3,0.299907,4.313955,9.307478,68.062094,6.547461,3.217696,8.251408
Stage 4,0.141343,2.033128,87.730631,1.603852,3.085760,1.516471,3.888815
Stage 5,0.255661,73.550366,7.934347,2.901043,5.581515,2.742990,7.034078
Stage 6,0.310857,4.471474,9.647330,3.527363,6.786534,66.703744,8.552698
Stage 7,0.187744,2.700563,5.826541,2.130364,81.975055,2.014299,5.165434

In [10]:

distributor.record_df

Source,en,ja0,ja1,ja2,ja3,ja4,pmc,Sum
Stage,,,,,,,,
Stage 1,49450,1422624,3069351,1122250,2159173,1061108,2721088,11605044
Stage 2,98901,1422624,3069351,1122250,2159173,1061108,2721088,11654495
Stage 3,98901,1422624,3069351,22445011,2159173,1061108,2721088,32977256
Stage 4,98901,1422624,61387026,1122250,2159173,1061108,2721088,69972170
Stage 5,98901,28452486,3069351,1122250,2159173,1061108,2721088,38684357
Stage 6,98901,1422624,3069351,1122250,2159173,21222163,2721088,31815550
Stage 7,98901,1422624,3069351,1122250,43183463,1061108,2721088,52678785

In [11]:
#distributor.load_datasets()

In [12]:
import random
from tqdm import tqdm
#distributor.write_jsonl(output_path,overwrite=conf["overwrite"])