In [6]:
# 種々のdatasetをintagrateします
# こちらはデータ配分の確認用です｡
# 本番ではintegrate_dataset.pyを実行します｡

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [7]:
%load_ext autoreload
%autoreload 2
from src.loaders import *
from src.RecordDistributor import RecordDistributor

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [25]:
from dataset_dict import dataset_dict
distributor=RecordDistributor(dataset_dict)
distributor.percent_df

Source      CC(ja)   wiki(en)   wiki(ja)
Stage
Stage 1  36.680756  31.187170  32.132075
Stage 2   3.893691  92.695465   3.410845
Stage 3  99.468227   0.422857   0.108917
Stage 4  11.288937   9.598220  79.112843

In [27]:

distributor.record_df

Source     CC(ja)  wiki(en)  wiki(ja)        Sum
Stage
Stage 1    124533    105882    109090     339505
Stage 2    124533   2964705    109090    3198328
Stage 3  99626400    423529    109090  100159019
Stage 4    124533    105882    872727    1103142

In [11]:
#distributor.load_datasets()

In [12]:
import random
from tqdm import tqdm
#distributor.write_jsonl(output_path,overwrite=conf["overwrite"])